/build/
/.android/
/.ios/
/.macos/
/linux/
/windows/
/web/
/.idea/
/*.apk
*.aab
.dart_tool/
.packages
/ios/Flutter/Generated.xcconfig

# Secrets
.env
google-services.json
GoogleService-Info.plist

# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
